/*------------------
  section left-bar
------------------*/
.left-bar {
  padding-top: 104px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // tablet screen
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    padding-top: 112px;
  }

  // desktop screen
  @media screen and (min-width: 1440px) {
    display: block;
    padding-top: 0px;
  }
}

.right-bar {
  //
  padding-top: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 0;
  }
}

.categories-list {
  @media screen and (min-width: 1440px) {
    padding-left: 0;
  }
}

.item__name.dark {
  color: var(--header-right-btn-text-color);
}

.right-bar.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
