
.books_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    gap: 25px;
  }

  @media screen and (min-width: 1440px) {
    gap: 24px;
  }
}

.book-image {
  width: 335px;
  height: 485px;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    width: 218px;
    height: 316px;
  }

  @media screen and (min-width: 1440px) {
    width: 180px;
    height: 256px;
  }
}

.book_name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111111;
}

.book_author {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #B4AFAF;
}

.book-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  background: #D0D0D0;
}

.category-link {
  @media screen and (min-width: 1440px) {
    text-decoration: none;
    font-family: DM Sans;
    width: 318px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
  }

}

.category-link:not(:last-child) {
  margin-bottom: 32px;
}

.category-link {

  &:hover,
  &:focus,
  &.active {
    @media screen and (min-width: 1440px) {
      width: 143px;
      height: 24px;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      color: #4F2EE8;
    }
  }
}

.books {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: baseline;
  }
}

.book-container {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1440px) {
    margin-left: 40px;
  }
}

.category-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 40px;

  @media screen and (min-width: 1440px) {}
}