.categories-list.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 80px;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    padding-bottom: 100px;
    column-gap: 25px;
    row-gap: 40px;
    
  }
}
.books_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    gap: 25px;
  }

  @media screen and (min-width: 1440px) {
    gap: 24px;
  }
}

.book-card {
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}


.book-image {
  width: 335px;
  height: 485px;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    width: 218px;
    height: 316px;
  }

  @media screen and (min-width: 1440px) {
    width: 180px;
    height: 256px;
  }
}
.main-title__first-part.dark {
  color: var(--body-black-firsttitle-color);
}
.book_name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--body-black-firsttitle-color);

  margin-top: 14px;
  margin-bottom: 0;
  
}
.book_name.dark {
  color: var(--body-black-firsttitle-color);
}

.book_author {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #b4afaf;

  margin-top: 4px;
  margin-bottom: 0;
}


.book-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  background-color: var(--body-white-background-color);
}

.book-categories {
  padding: 0;
  margin: 0;
  width: 327px;
  height: 228px;
  
  @media screen and (min-width: 768px) {
    width: 329px;
    height: 472px;
  }

  @media screen and (min-width: 1440px) {
    width: 348px;
  }
}

.category-link {
      font-size: 16px;
      line-height: 1.125;
      letter-spacing: -0.02em;
      color: rgba(17, 17, 17, 0.6);

      @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.33;
      }
}

.book-block.dark .book-categories .category-link {
  color: rgba(255, 255, 255, 0.6);
}

.category-link:not(:last-child) {
  margin-bottom: 24px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 32px;
  }
}
// then
.category-link {
  &:hover,
  &:focus,
  &.active {
      font-weight: 700;
      // font-size: 16px;
      // line-height: 1.125;
      font-size: 14px;
      line-height: 1.14;
      transition: all 0.2s ease;
      text-transform: uppercase;
      color: var(--categoris-white-focus-color);
     
    @media screen and (min-width: 768px) {
      font-weight: 700;
      // font-size: 18px;
      // line-height: 1.33;
      font-size: 14px;
      line-height: 1.0;
    }
  }
}

.book-block.dark .book-categories .category-link {
  &:hover,
  &:focus,
  &.active {
      color: var(--categoris-black-focus-color);
      transition-duration: var(--duration);
}
}

.books {
  display: block;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;

    @media screen and (min-width: 1440px) {
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      align-items: baseline;
    }
  }
}

.book-container {
  margin-right: 0;


  @media screen and (min-width: 1440px) {
    margin-left: 40px;
  }
}

.category-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 40px;

  @media screen and (min-width: 1440px) {
  }
}
.book-block {
  max-height: 472px;
  overflow-y: scroll;
}

.book-block::-webkit-scrollbar {
  width: 8px;

  background-color: var(--body-white-background-color);
}

.book-block.dark,
.book-block.dark::-webkit-scrollbar {
   background-color: var(--body-black-background-color);
}

.book-block::-webkit-scrollbar-thumb {
  height: 114px;

  @media screen and (min-width: 768px) {
    height: 167px;
  }
}

.book-block::-webkit-scrollbar-thumb {
  background: #e0e0e0;
 
  border-radius: 12px;
}
.book-block.dark::-webkit-scrollbar-thumb {
  background: #111111;
}
