.footer {
position: fixed;
height: 72px;
bottom: 0;
background-color:var(--body-white-background-color);
width: 100%;
text-align: center;
padding-top: 30px;
border: 1.5px solid rgba(17, 17, 17, 1);
}
.footer__copyright {
    width: 100%;
    // margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}