.body.is-open {
  overflow: hidden;
}
.header {
  width: 100%;
  height: 72px;
  border: 1.5px solid var(--body-white-firsttitle-color);
  border-radius: 0px 0px 8px 8px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: var(--header-white-background-color);
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto;
}
.header.dark {
  border: 1.5px solid var(--body-white-background-color);
  background: var(--header-black-background-color);
}
.header_container {
  padding-left: 23px;
  padding-right: 23px;
  display: inline;
  justify-content: center;
  left: 50%;
  //tablet screen
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
  }
  //desctop screen
  @media screen and (min-width: 1200px) {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1440px;
    display: flex;
  }
}
.nav {
  display: none;
  //phone screen
  @media screen and (min-width: 480px) {
    display: none;
  }
  //tablet screen
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.checkbox__header {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 22px;
  //phone screen
  @media screen and (min-width: 480px) {
  }
  padding-top: 22px;
  margin-right: 0px;
  //tablet screen
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 0px;
  }
}
.header_main {
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  color: var(--body-white-firsttitle-color);
  align-items: center;
}
.logo.dark {
  fill: var(--header-white-background-color);
}
.header_logo_icon {
  display: inline-flex;
  list-style: none;
  align-items: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 200px;
  //tablet screen
  @media screen and (min-width: 768px) {
  }
  padding-right: 0;
  display: inline-flex;
  list-style: none;
  align-items: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.header_logo_book {
  display: inline-flex;
  list-style: none;
  align-items: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  fill: currentColor;
}
.header_logo_book.dark {
  fill: currentColor;
  stroke: var(--header-black-text-svg-color);
}

.header_item {
  display: flex;
  list-style: none;
  align-items: center;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}

.header_btn__shopping {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--header-black-background-color);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  background-color: var(--header-black-text-svg-color);
  border: none;
  cursor: pointer;
}

.header_btn__shopping:active {
  background-color: var(--header-left-btn-focus-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  border-radius: 36px;
  border: none;
}
.header_btn__shopping.dark {
  color: var(--header-white-background-color);
  background-color: var(--header-black-background-color);
}
.header_btn__home {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--header-black-background-color);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  background-color: var(--header-black-text-svg-color);
  border: none;
  cursor: pointer;
}

.header_btn__home.dark {
  color: var(--header-white-background-color);
  background-color: var(--body-white-firsttitle-color);
}

.header_btn__home:active {
  background-color: var(--header-left-btn-focus-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  border-radius: 36px;
  border: none;
}

.current_btn,
.current_btn_shopping {
  background-color: var(--header-left-btn-focus-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  border-radius: 36px;
  border: none;
  margin-right: 16px;
}
.current_btn.dark,
.current_btn_shopping.dark {
  background-color: var(--header-left-btn-focus-color);
  color: var(--header-white-background-color);
}
.current_btn_shopping {
  background-color: var(--header-left-btn-focus-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  border-radius: 36px;
  border: none;
  margin-left: 16px;
}
.current_btn_shopping.dark {
  background-color: var(--header-left-btn-focus-color);
  color: var(--header-white-background-color);
}
.header_nav {
  margin-left: 185px;
  padding-left: 0;
  display: none;
  //phone screen
  @media screen and (min-width: 480px) {
    display: none;
  }
  //tablet screen
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header_logo {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--header-white-text-svg-color);
}

.header_logo.dark {
  color: var(--header-black-text-svg-color);
}

.header_link__lock {
  color: var(--header-white-text-svg-color);
  width: 14px;
  height: 14px;
}
.header_link__lock.dark {
  color: var(--header-white-background-color);
}
.header_user {
  display: none;
  //tablet screen
  @media screen and (min-width: 768px) {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin-left: 32px;
    width: 184px;
    height: 45px;
    background: var(--header-right-btn-color);
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
  }
  //desctop screen
  @media screen and (min-width: 1200px) {
    margin-left: 24px;
  }
}
.header_user__icon {
  fill: var(--header-right-btn-color);
  position: absolute;
  margin-left: 12px;
  margin-right: 135px;
  align-content: center;
  margin-top: 4px;
}
.header_link__icon {
  display: wrap;
  stroke: var(--header-white-text-svg-color);
  fill: var(--header-black-text-svg-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, 20%);
}

.header_user_name {
  color: var(--header-black-text-svg-color);
  position: absolute;
  margin-left: 12px;
  margin-right: 39px;
  margin-top: 8px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: calc(29 / 22);
  letter-spacing: -0.02em;
}
.header_user_name.dark {
  color: var(--header-black-background-color);
}
.header_personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//menu
.menu-header {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-left: 0;
}
/* .menu-close {
} */
.menu {
  display: flex;
  margin: auto 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle__icon {
  fill: var(--header-white-background-color);
  stroke: var(--header-black-background-color);
  justify-content: flex-end;
}
.menu-toggle__icon.dark {
  fill: var(--header-black-background-color);
  stroke: var(--header-white-background-color);
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--categoris-white-text-color);
}
.menu-container {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  //tablet screen
  @media screen and (min-width: 768px) {
    display: none;
  }
  //desctop screen
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu-container.dark {
  background-color: var(--header-black-background-color);
}
.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
}
.menu-togle-close.dark.is-open,
.menu-togle-close.is-open {
  visibility: visible;
}
.menu-togle-close.dark,
.menu-togle-close {
  visibility: hidden;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--header-white-text-svg-color);
}
.menu-container.dark .menu-toggle {
  color: var(--header-black-text-svg-color);
}
.mobile-menu {
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
  justify-content: space-between;
  align-items: center;
  transform: translateX(30%);
  padding-top: 183px;
}

.menu-togle-svg {
  fill: var(--header-black-background-color);
  stroke: var(--header-black-background-color);
  visibility: visible;
}
.menu-togle-svg.dark {
  stroke: var(--header-white-background-color);
  visibility: visible;
}
.menu-togle-svg.dark.is-open,
.menu-togle-svg.is-open {
  visibility: hidden;
}
.menu-togle-close {
  fill: var(--header-black-background-color);
  stroke: var(--header-black-background-color);
}

.menu-togle-close.dark {
  stroke: var(--header-white-background-color);
}

.header_mobile_shopping {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--header-black-background-color);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.header_mobile_shopping.dark {
  color: var(--header-white-background-color);
}
.header_mobile_home {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--header-black-background-color);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--header-black-text-svg-color);
  border: none;
  margin-right: 24px;
}

.header_mobile_home.dark {
  color: var(--header-white-background-color);
  background-color: var(--body-white-firsttitle-color);
}

.current_btn_mobile {
  background-color: var(--header-left-btn-focus-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  border-radius: 36px;
  border: none;
}
.current_btn_mobile.dark {
  background-color: var(--header-left-btn-focus-color);
  color: var(--book-black-description-text-color);
}

.menu_picture {
  display: flex;
  margin-top: 126px;
}
.menu_picture__png {
  position: absolute;
  justify-content: end;
  align-items: flex-end;
  left: 0;
  right: 0;
  transform: translateY(-87%);
  //tablet screen
  @media screen and (min-width: 480px) {
    position: absolute;
    justify-content: end;
    align-items: flex-end;
    left: 0;
    right: 0;
    transform: translateY(-87%);
  }
}
