*,
*::before,
*::after {
  box-sizing: border-box;
}

/*--------------
  Custom tools
--------------*/

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------
  main sections-block 
---------------------*/

.categories {
  margin-left: 0px auto;
  margin-right: 0px auto;

  // tablet screen
  @media screen and (min-width: 768px) {
    //
    //
  }

  // desktop screen
  @media screen and (min-width: 1440px) {
    display: flex;
    padding-top: 132px;
  }
}

/*-----------------------------
  main title Best Sellers Books 
-------------------------------*/

.default__main-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  margin-left: 20px;
  margin-top: 0;

  letter-spacing: -0.04em;

  // mobile screen
  @media screen and (max-width: 767px) {
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 32px;
    margin-bottom: 40px;
  }

  // desktop screen
  @media screen and (min-width: 1440px) {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
}

.main-title__first-part.dark {
  color: var(--books-black-title-color);
}
.main-title__first-part.dark {
  color: var(--body-black-firsttitle-color);
}

.main-title__second-part {
  color: var(--body-white-secondtitle-color);
}

.categories-list {
  padding-left: 0;
}

.books-list {
  display: block;
  padding-left: 0;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.categories-list__item {
  display: flex;
  justify-content: center;
}

.categories-list__wrap {
  // outline: 2px solid red;
  // outline-offset: -2px;
  margin-bottom: 40px;

  display: inline-block;

  margin-left: 0 auto;
  margin-right: 0 auto;
}

/*-----------------
  category-blocks
-----------------*/
.category {
  // outline: 2px solid red;
  // outline-offset: -2px;
  margin-top: 0;
  margin-bottom: 18px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bookslist-title-color);
}

.books-list {
  // outline: 2px solid red;
  // outline-offset: -2px;

  // tablet screen
  @media screen and (min-width: 768px) {
    //
    display: flex;
    gap: 24px;
  }

  // desktop screen
  @media screen and (min-width: 1440px) {
    padding: 0;

    display: flex;
    gap: 24px;
    justify-content: space-between;
  }
}

/*------
  card 
------*/
// .item-wrap {
//   // outline: 2px solid red;
//   // outline-offset: -2px;
// }

.item-img__wrap {
  // outline: 2px solid red;
  // outline-offset: -2px;

  min-width: 335px;
  min-height: 458px;

  padding: 0px 0px 58px 0px;

  margin-left: 0px auto;
  margin-right: 0px auto;

  position: relative;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    min-width: 218px;
    min-height: 316px;
  }

  // desktop screen
  @media screen and (min-width: 1440px) {
    min-width: 180px;
    min-height: 256px;
  }
}

.item-img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 8px;

  position: absolute;
  top: 0;
  left: 0;
}

/*---------
  overlay
---------*/

.item__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  display: flex;
  justify-content: center;

  width: 100%;
  height: 60px;
  padding: 0;
  display: flex;
  align-items: center;

  background-color: var(--categoris-black-focus-color);
  transition: background-color 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.item__overlay-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: var(--books-white-title-color);

  text-transform: uppercase;
}

.books-list__item:hover .item__overlay {
  transform: translateY(0%);
}

.item-title__wrap {
  // outline: 2px solid red;
  // outline-offset: -2px;

  // width: 180px;
  // height: 256px;

  padding-top: 14px;
}

.item__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--book-white-description-text-color);

  padding: 0;
}

.item__name.dark {
  color: var(--book-black-description-text-color);
}

.item__author {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: var(--books-text-color);

  margin-top: 4px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0;
}

/*-----
  btn 
-----*/
.btn-see-more__wrap {
  display: flex;
  justify-content: right;

  margin-top: 32px;

  width: 100%;
  height: 100%;
}

.btn-see-more {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 24px;
  gap: 10px;
  position: relative;
  right: 0;
  width: 124px;
  height: 46px;
  border: var(--books-modal-btn);
  border-radius: 40px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  align-items: center;
  color: var(--seemore-btn-color-text);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  cursor: pointer;
  transition: color var(--duration) var(--transition-timing-function),
    background-color var(--duration) var(--transition-timing-function),
    box-shadow var(--duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--seemore-btn-color-focus);
    background-color: var(--seemore-btn-hover-background-color);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  }
}

.btn-see-more.dark {
  color: var(--seemore-btn-color-focus);
}
