.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(17, 17, 17, 0.4);
  -webkit-transition: opacity 300ms ease, visibility 300ms ease;
  transition: opacity 300ms ease, visibility 300ms ease;
  overflow-y: scroll;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal-container {
  opacity: 0;
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 579px;
  height: 465px;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
  border: 2px solid var(--body-white-firsttitle-color);
  background-color: var(--body-black-firsttitle-color);
  border-radius: 18px;
  z-index: 100;
}
.modal-container.dark {
  border: 1.5px solid var(--body-white-background-color);
  background-color: var(--header-black-background-color);
}
.modal-book {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.modal-close__btn-wrapper {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  opacity: 1;
  cursor: pointer;

  &:hover {
    opacity: 1;
    filter: drop-shadow(0px 3px 3px rgba(79, 46, 232, 1));
  }
}
.modal-close-btn.dark {
  fill: var(--books-modal-black-btn-text);
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 1));
}
.modal-book__img-container {
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 18px;
  max-width: 192px;
  height: 281px;
}

.modal-book__img {
  overflow: hidden;
  border-radius: 5px;
  width: 192px;
}

.modal-book__description {
  width: 279px;
}

.modal-book__title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.modal-book__author {
  font-size: 14px;
  line-height: 18px;
  color: #b4afaf;
}
.modal-book__about {
  width: 279px;
  height: 70px;
  font-size: 14px;
  line-height: 18px;
}

.modal-book__about.dark {
  color: white;
}
.modal-book__button {
  width: 499px;
  padding: 20px 20px;
  border-radius: 40px;
  font-size: 18px;
  line-height: 24px;
  color: var(--body-white-firsttitle-color);
  border: 2px solid var(--header-right-btn-color);
  background-color: var(--body-black-firsttitle-color);
  text-align: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--header-right-btn-color);
    box-shadow: 0px 4px 18px 0px #00000026;
    color: var(--body-black-firsttitle-color);
  }
}

.modal-book__button.dark {
  border: 1.5px solid var(--header-right-btn-color);
  background-color: var(--header-black-background-color);
  color: var(--header-black-text-svg-color);
  &:hover,
  &:focus {
    background-color: var(--header-right-btn-color);
    box-shadow: 0px 4px 18px 0px #00000026;
    color: var(--body-black-firsttitle-color);
  }
}

.modal-book__stores {
  display: flex;
  margin-top: 28px;
  justify-content: flex-start;
}
.modal-book__applebook {
  margin-left: 10px;
}
.book-svg {
  width: 60px;
  &:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
  }
}
.book-svg.dark {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 1));
}
.modal-book__amazon {
  padding: 0;
}

.close-svg {
  fill: blue;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.black-book.dark {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
