.container_shopping-list {
  display: flex;
  gap: 40px;
  margin-top: 112px;
}

.support > .shoppinglist_support--container {
  @media screen and (min-width: 1440px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.shoppinglist_support {
  padding-top: 0;
  @media screen and (max-width: 1439px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.support_tablet {
  @media screen and (max-width: 1439px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  padding-top: 0;
}

.shopingList_title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  letter-spacing: -0.04em;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 20px;
  color: #111111;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 0;
  }
}

.shopingList_title--color {
  color: var(--body-white-secondtitle-color);
}

.shopingList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.shoppinglist_item {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  grid-template:
    'photo info info' min-content
    'photo link link' 1fr
    'descr descr descr' 1fr/0.3fr 145px;
  gap: 0;
  padding: 20px;
  display: grid;
  width: 335px;
  position: relative;

  @media screen and (min-width: 768px) {
    min-height: 213px;
    min-width: 704px;
    grid-template:
      'photo info info' 1fr
      'photo descr descr' 1fr
      'photo author link' 30px/140px 1fr 1fr;
    gap: 0;
    padding: 24px;
  }

  @media screen and (min-width: 1440px) {
    min-width: 996px;
  }
}

.shoppinglist_img-container {
  grid-template:
    '.' 139px
    'author' min-content/98px;
  grid-area: photo;
  gap: 0;
  margin-right: 20px;
  display: grid;

  @media screen and (min-width: 768px) {
    grid-template:
      '.' 165px
      'author' min-content/116px;
  }
}

.shoppinglist_img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: block;

  @media screen and (min-width: 768px) {
    grid-template-rows: 165px;
    margin-right: 24px;
  }
}

.shoppinglist_authorM {
  @media screen and (min-width: 767px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  @media screen and (max-width: 767px) {
    color: var(--bookslist-title-color);
    grid-area: author;
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
  }
}

.shoppinglist_info {
  grid-area: info;
}

.shoppinglist_title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
}

.shoppinglist_category {
  color: var(--bookslist-title-color);
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
}

.shoppinglistlink_list {
  flex-direction: row;
  padding-left: 0;
  grid-area: link;
  align-items: start;
  gap: 14px;
  display: flex;

  @media screen and (min-width: 768px) {
    justify-content: end;
    gap: 16px;
  }
}

.shoppinglist_desc {
  margin-top: 0;
  margin-bottom: 0;
  grid-area: descr;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.shoppinglist_author {
  @media screen and (max-width: 767px) {
    display: none;

    &__mobile {
      margin-top: 4px;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      margin-bottom: 20px;
      color: var(--second-font-color);
      grid-area: author;
    }
  }

  color: var(--bookslist-title-color);
  grid-area: author;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;

    &__mobile {
      display: none;
    }
  }
}

.shoppinglist_btn {
  width: 28px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0);
  // background-image: url(icons.31d2e38d.svg#icon-dump);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
}

.shoppinglist_btn-icon {
  cursor: pointer;
  width: 28px;
  height: 28px;
  left: -1px;
  position: absolute;
  top: -1px;
}

// .............

.empty-book-page {
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  max-width: 265px;
  height: 198px;

  // tablet screen
  @media screen and (min-width: 768px) {
    max-width: 322px;
    height: 241px;
  }
}

.empty-book-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  max-width: 244px;
  font-weight: 400;
  font-size: 14px;
  height: 48px;
  line-height: 1.29;

  text-align: center;
  letter-spacing: -0.02em;

  color: var(--books-text-color);

  // tablet screen
  @media screen and (min-width: 768px) {
    font-size: 18px;
    max-width: 322px;
    line-height: 1.33;
  }
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
