.preloader {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #bebebe79;
  z-index: 1001;

  padding: 1.25rem;
  outline: none;
  border: none;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.loading .preloader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 0.25rem solid #eac645;
  border-right: 0.25rem solid transparent;
  animation: rotation 1s linear infinite;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3.375rem;
    height: 3.375rem;
    border-radius: 50%;
    border-left: 0.25rem solid #4f2ee8;
    border-bottom: 0.25rem solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
