.support {
  padding-top: 20px;
  padding-bottom: 20px;
}

.support > .support-container {
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 20px;
  width: 335px;
  @media screen and (min-width: 768px) {
    padding-bottom: 14px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 32px;
    //  margin-left: 0;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 24px;
    width: 356px;
    margin-left: 24px;
    // margin-right: 0;
  }
}

.support-title {
  margin-top: 0;
  margin-bottom: 40px;
  margin-right: 0;
  color: #ffffff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;

  display: flex;
}

.support-icon__arms {
  margin-left: 12px;
}

.support-thumb {
  min-width: 159px;
  max-height: 188px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    max-height: 292px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 40px;
  }
}

.support-list {
  // width: 310px;
  // height: 150px;
  padding-inline-start: 0;
  margin: 0;
}

.support_item {
  // margin-bottom: 20px;
  height: 32px;
  // margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    // margin-bottom: 22px;
  }
}

.support-number {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}

.support-button-next {
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-style: none;
  background: #ffffff;
  border-radius: 50%;
  @media screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
  }
}
.support-icon {
  width: 12px;
  height: 6px;
  @media screen and (min-width: 768px) {
    width: 13px;
    height: 7px;
  }
}

.support-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  height: 32px;
}
.support-logo {
  margin-left: 10px;
}
.support-svg {
  fill: #a53c3c;
}
