<header class="header header_container">
  <div class="header_main">
    <div class="header_logo">
      <img
        src="./images/logo-black.png"
        class="header_logo_icon"
        width="53"
        height="17"
        alt="logo header"
      />
    </div>
    <div class="nav">
      <nav class="header_nav">
        <ul class="header_item">
          <li class="header_list">
            <button
              href="../index.html"
              class="current_btn header_btn__home"
            >
              HOME
            </button>
          </li>
          <li class="header_list">
            <button href="" class="header_btn__shopping white">
              SHOPPING LIST
            </button>
            <svg class="header_link__icon" width="13.5" height="16.5">
              <use href="./images/project-icon.svg#icon-lock"></use>
            </svg>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header_personal">
      <div class="checkbox__header">
        <label class="checkbox__label">
          <input type="checkbox" class="checkbox__input" id="theme-checkbox" />
          <div class="checkbox__div"></div>
        </label>
      </div>

      <div class="header_user">
        <svg class="header_user__icon" width="37" height="37">
          <use href="./images/project-icon.svg#icon-user"></use>
        </svg>
        <p class="header_user_name">Name</p>
      </div>
    </div>
    <!-- Open menu -->
    <div class="menu-header">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          class="menu-togle-svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
            class="menu-togle-svg"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</header>
<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg
      class="menu-togle-svg"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="header_list">
      <button class="current_btn header_btn__home">HOME</button>
    </li>
    <li class="header_list">
      <button class="header_btn__shopping">SHOPPING LIST</button>
      <svg class="header_link__icon" width="13.33" height="16.67">
        <use href="./images/project-icon.svg#icon-lock"></use>
      </svg>
    </li>
  </ul>
</div>
<script type="module" src="./js/modalWindow.js"></script>
