<header class="header header_container">
  <div class="header_main">

    <a class="header_logo" href="./index.html">  
    <svg class="header_logo_icon" width="18.2" height="18.2">
        <use href="./images/project-icon.svg#icon-logo-3"></use>
      </svg>
      <svg class="header_logo_icon header_logo_book"  width="53" height="17">
        <use href="./images/project-icon.svg#icon-Book"></use>
      </svg>
    </a>

    <div class="nav">
      <nav class="header_nav">
        <ul class="header_item">
          <li class="header_list">
            <a href="./index.html">
              <button class="header_btn__home current_btn">Home</button></a
            >
          </li>
          <li class="header_list">
            <a href="./shopping-list.html">
              <button class="header_btn__shopping white">
                Shopping list
              </button></a
            >
            <svg class="header_link__icon" width="13.5" height="16.5">
              <use href="./images/project-icon.svg#icon-lock"></use>
            </svg>
          </li>
        </ul>
      </nav>
    <div class="header_personal">
      <div class="checkbox__header">
       <label class="checkbox__label">
    <input type="checkbox" class="checkbox__input" id="theme-checkbox">
    <div class="checkbox__div"></div>
</label>
      </div>
      <div class="header_user">
        <svg class="header_user__icon" width="37" height="37">
          <use href="./images/project-icon.svg#icon-user"></use>
        </svg>
        <p class="header_user_name">Name</p>
      </div>
    </div>
    </div>
    <!-- Open menu -->
    <div class="menu-header">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          class="menu-togle-svg"
          width="24"
          height="24"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use href="./images/project-icon.svg#icon-align-left"></use>
        </svg>
      </button>
<div class="menu-close">
      <button class="menu-toggle js-close-menu">
        <svg
          class="menu-togle-close"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
        >
          <use href="./images/project-icon.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    </div>
  </div>
</header>
<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">

  <ul class="mobile-menu">
    <li class="header_list">
      <a href="./index.html">
        <button class="current_btn_mobile">Home</button></a
      >
    </li>
    <li class="header_list">
      <a href="./shopping-list.html">
        <button class="header_mobile_shopping white">
          Shopping list
        </button></a
      >
      <svg class="header_link__icon" width="13.5" height="16.5">
        <use href="./images/project-icon.svg#icon-lock"></use>
      </svg>
    </li>
  </ul>
</ul>
<ul class="menu_picture"><li class="menu_picture__png">
  <img src="./images/header-menu/Group 6.png" width="100%" height="439px"></li>
</ul>
</div>