<section class="support">
    <div class="container support-container shoppinglist_support--container">
    <h2 class="support-title">Support Ukraine <div class="support-icon"><svg class="support-icon__arms" width="20" height="32">
        <use href="./images/support/support_sprite.svg#icon-arms"></use>
    </svg></h2></div> 
<div class="support-thumb swiper">
        <ul class="support-list my-slider">           
        </ul>
    </div>
    <button class="support-button-next" type="button">
        <svg class="support-icon">
            <use href="./images/support/support_sprite.svg#icon-arrow-up"></use>
        </svg>  
    </button></section>

